* {
  box-sizing: border-box;
  border: 1px solid red !important;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  transform: translate(-50%, -50%);
}

.item-wrap {
  position: relative;
}

.card {
  display: inline-block;
  padding: 20px;
  color: #222;
  width: 280px;
  font-size: 24px;
  text-align: left;
  border-radius: 8px;
  background: #eee;
  transition: 0.3s;
  margin: 30px;
}

.card > img {
  width: 100%;
  border-radius: 6px;
}

.card h1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.card-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-wrap img {
  position: relative;
  display: block;
  float: left;
  width: 32px;
  border-radius: 50%;
  margine-right: 8px;
}

.user-name {
  font-size: 14px;
}

.icons {
  margin-top: 4px;
}

.chat,
.favorite {
  display: inline-block;
}

.chat {
  margin-right: 10px;
}

.icon {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  /* display: block; */
  /* float: right; */
}

.chat span,
.favorite span {
  /* display: block; */
  /* float: left; */
  font-size: 12px;
  line-height-step: 16px;
}
