body {
  background-color: #111;
}

/* * {
  box-sizing: border-box;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  transform: translate(-50%, -50%);
} */

.item-wrap {
  position: relative;
  border: 2px solid #004fff;
  border-radius: 6px;
  background: #ddd;
  padding: 20px;
}

.item {
  padding: 30px;
  border: 2px solid #004fff;
  width: 50%;
  color: #222;
  font-size: 24px;
  text-align: center;
  border-radius: 6px;
  background: #fff;
  transition: 0.3s;
  box-sizing: border-box;
}
